{% set menuBtns = {
	item0: {
		text: 'Сытные',
		counter: '12',
		active: true,
		tabNumber: '0'
	},
	item1: {
		text: 'Постные',
		counter: '24',
		tabNumber: '1'
	},
	item2: {
		text: 'Традиционные',
		counter: '24',
		tabNumber: '2'
	},
	item3: {
		text: 'С зеленью',
		counter: '24',
		tabNumber: '3'
	},
	item4: {
		text: 'Сладкие',
		counter: '24',
		tabNumber: '4'
	},
	item5: {
		text: 'Фруктовые',
		counter: '24',
		tabNumber: '5'
	},
	item6: {
		text: 'Овощные',
		counter: '24',
		tabNumber: '6'
	},
} %}

{% set menuContent = {
	item0: {
		imgSrc: 'meat',
		text: 'Мясо',
		index: '(7)'
	},
	item1: {
		imgSrc: 'turkey',
		text: 'Индейка',
		index: '(5)'
	},
	item2: {
		imgSrc: 'turkey(1)',
		text: 'Курица',
		index: '(10)'
	},
	item3: {
		imgSrc: 'salmon',
		text: 'Форель',
		index: '(4)'
	},
	item4: {
		imgSrc: 'fish',
		text: 'Лосось',
		index: '(3)'
	},
	item5: {
		imgSrc: 'fish(1)',
		text: 'Сёмга',
		index: '(7)'
	},
	item6: {
		imgSrc: 'cheese',
		text: 'Сыр',
		index: '(6)'
	},
	item7: {
		imgSrc: 'turkey(2)',
		text: 'Курица',
		index: '(10)'
	}
} %}

<section class="menu">
	{% include 'big-choice.twig' %}
	<div class="container menu__container">
		<div class="menu__btns-container">
			<ul class="menu__btns">
				{% for item in menuBtns %}
					<li class="menu__btns-li {% if item.active %}active{% endif %}" data-tabclass="js-menu-content" data-tabnumber="{{item.tabNumber}}">
						<button type="button" class="menu__btns-item">
							<span class="menu__btn-text">{{item.text}}</span>
							<span class="menu__counter">{{item.counter}}</span>
						</button>
					</li>
				{% endfor %}
			</ul>
		</div>

		{% if short %}
			<div class="menu__bottom">
				<div class="js-menu-content">
					{% for index in 0..6 %}
						<ul class="menu__content {% if index == 0 %}active{% endif %}" data-tabnumber="{{index}}">
							{% for item in menuContent %}
								<li class="menu__content-li">
									<a href="#" class="menu__content-item">
										<img src="assets/img/icons/{{item.imgSrc}}.png" alt="" class="menu__img">
										<div class="menu__desc">
											<span class="menu__text">{{item.text}}</span>
											<span class="menu__index">{{item.index}}</span>
										</div>
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</div>
				<form class="menu__metro js-metro">
					<div class="menu__select-wrap">
						<select name="" id="" class="menu__select js-metro-select" placeholder="">
							<option class="menu__select-option js-metro-option" value="">Выберите станцию метро</option>
							<option class="menu__select-option js-metro-option" value="https://www.google.com/">2</option>
							<option class="menu__select-option js-metro-option" value="https://www.google.com/">3</option>
						</select>
					</div>
					{% include 'btn.twig' with {
						mod : 'menu__btn js-metro-btn',
						imgSrc: 'my_location_24px',
						text: 'Заказать доставку'
					} %}
				</form>
			</div>
		{% endif %}
	</div>
</section>
