{% set sliderList = {
  set0: {
    title: 'СЕТ 4 ПИРОГА',
    priceNumber: '2000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set1: {
    title: 'СЕТ 5 ПИРОГОВ',
    priceNumber: '3000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set2: {
    title: 'СЕТ 6 ПИРОГОВ',
    priceNumber: '4000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set3: {
    title: 'СЕТ 8 ПИРОГОВ',
    priceNumber: '5000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set4: {
    title: 'СЕТ 10 ПИРОГОВ',
    priceNumber: '6000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set5: {
    title: 'СЕТ 4 ПИРОГА',
    priceNumber: '2000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set6: {
    title: 'СЕТ 5 ПИРОГОВ',
    priceNumber: '3000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set7: {
    title: 'СЕТ 6 ПИРОГОВ',
    priceNumber: '4000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set8: {
    title: 'СЕТ 8 ПИРОГОВ',
    priceNumber: '5000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
  set9: {
    title: 'СЕТ 10 ПИРОГОВ',
    priceNumber: '6000',
    consistList: {
      item0: {
        text: 'C мясом'
      },
      item1: {
        text: 'с кабачком и сыром'
      },
      item2: {
        text: 'с вишней и творогом '
      },
      item3: {
        text: 'с капустой'
      },
      item4: {
        text: 'с грибами'
      },
      item5: {
        text: 'с лимоном'
      },
      item6: {
        text: 'с картофелем'
      },
      item7: {
        text: 'с тыквой'
      },
      item8: {
        text: 'с грибами'
      },
      item9: {
        text: 'с осетинским сыром'
      },
    }
  },
} %}

<h2 class="h2 h2--red">Покупайте Сеты. Это выгодно!</h2>
<section class="sets">
	<div class="container sets__container">
		<div class="sets__slider-container js-sets-slider-container">
			<div class="sets__slider js-sets-slider">
				{% for key, item in sliderList %}
					<div class="sets__slide js-set-card">
						<div class="sets__img-box">
							<img src="assets/img/{% if loop.index > 4 %}set4{% else %}{{key}}{% endif %}.png" alt="" class="sets__img">
							<div class="sets__title">{{item.title}}</div>
						</div>
						<div class="sets__content">
							<ul class="sets__consist-list">
								{% for item in item.consistList %}
									<li class="sets__consist-li">
										<div class="sets__consist-item">
											{{item.text}}
										</div>
									</li>
								{% endfor %}
							</ul>
							<div class="sets__calc">
								{% include 'counter.twig' with {
									mod : 'sets__counter'
								} %}
								<div class="sets__price">
									<span class="sets__price-number js-set-card-price" data-default-price="{{item.priceNumber}}">
                    {{item.priceNumber}}
                  </span>
									<span class="sets__price-value">руб.</span></div>
							</div>
              {% include 'btn--btn.twig' with {
                mod: 'btn--green sets__btn',
                text: 'В корзину'
              } %}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="sets__dots js-sets-slider-dots"></div>
		</div>
	</div>
</section>
